@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

:root {
  --foreground-rgb: 251, 246, 226;
  --background-rgb: 10, 12, 31;
  --secondary-rgb: 236, 206, 174;
  --primary-rgb: 230, 131, 105;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
} */

.gradient{
  z-index: -1;
  filter: contrast(170%) brightness(100%);
  background: radial-gradient(80% 120% at 140% -50%, #6888CB, transparent), radial-gradient(50% 100% at 0 100%, #851360, transparent);
}

.overlay{
  filter: grayscale(1) invert(1) opacity(50%);
  mix-blend-mode: screen;
}


* {
  --sb-track-color: #00000068;
  --sb-thumb-color: #ffffff;
  --sb-size: 4px;
}

*::-webkit-scrollbar {
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 0px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

body {
  @apply bg-[#000] overflow-x-hidden;
  @apply font-nunito;
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

